
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Allow authenticated users to read from the device-data collection
    match /device-data/{deviceId} {
      allow read: if request.auth != null;
      allow write: if false; // Disallow client-side writes for now
    }

    // Allow checking for registered users (necessary for Forgot Password flow)
    match /users/{userId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Temporary rule for OTPs
    match /otps/{email} {
      allow read, write: if true; 
    }
  }
}
